// Wraps all content beneath the Mai heater

.mainWrapper {
  max-width: 960px;
  margin: 170px auto 0px auto;
  overflow: hidden;
}

// Main Article Headline

article {
  @include span-columns(7);
  margin-right: 8%;
}

h2 {
  font-size: $h2-headline;
  font-family: 'Oswald';
  color: black;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

p {
  font-size: $paragraph;
  line-height: 26px;
}

.inlineAnchor {
  color: $primary-blue;

    &:hover {
    color: orange;
  }
}

// Article Author cutline and article date

.cutLine {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 13px;

  img {
    width: 43px;
    border-radius: 50%;
    margin-right: 12px;
  }
}

img {
  vertical-align: text-center;
}

.cutlineSpan
  ul li {
  display: inline;
  }

#author {
  color: $primary-blue;
}

#date {
  color: $secondary-blue;
  margin-left: 5px;
}

//Pull Quote here

blockquote {
  font-size: 1.35em;
  font-family: 'Muli';
  line-height: 35px;
  text-transform: uppercase;
  color: $primary-blue;
  border-left: solid 5px $secondary-blue;
  padding-left: 22px;
  margin-left: 0;
}

// Page Redirect Bottom of Main article

.redirectIcon {
  list-style-type: none;
  display: inline;
  height: 30px;
  float: left;

  i {
    color: white;
    background: #666;
    font-size: 15px;
    text-align: center;
    padding: 7px;
    width: 30px;
    height: 30px;

    &:hover {
      background: #061529;
    }
  }
}


.readCom, .readLater {
  margin-right: 15px;
}

.readCom, .postThis, .readLater {
  height: 30px;
  width: 120px;
  color: white;
  background: $secondary-blue;
  font-size: $redirect;
  padding: $redir-padding;
  position: relative;
  float: left;

  &:hover {
    background: $dark-blue
  }
}

.clear {
  clear: both;
}


// Popular Post Section

.postHeader {
  width: 100%;
  float: left;
  margin-top: 1.25em;
}

.postHeader
  h1 {
  font-family: 'Oswald';
  font-size: $h2-headline;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .7em;
}

.popPost1, .popPost2, .popPost3, .popPost4 {
  @include pop-post-bg;
}

.popPost1 {
  background: $blue-overlay, url(/images/popPost1.jpg);
  background-position-y: 53%;

  &:hover {
    background: $blue-overlay-focus, url(/images/popPost1.jpg);
    background-position-y: 53%;
  }
}

.popPost2 {
  background: $blue-overlay, url(/images/popPost2.jpg);
  background-position-y: 3%;
  background-position-x: 70%;

  &:hover {
    background: $blue-overlay-focus, url(/images/popPost2.jpg);
    background-position-y: 3%;
    background-position-x: 70%;
  }
}

.popPost3 {
  background: $blue-overlay, url(/images/popPost3.jpg);
  background-position-y: 12%;
  background-position-x: 70%;

  &:hover {
    background: $blue-overlay-focus, url(/images/popPost3.jpg);
    background-position-y: 12%;
    background-position-x: 70%;
  }
}

.popPost4 {
  background: $blue-overlay, url(/images/popPost4.jpg);
  background-position-y: 12%;
  background-position-x: 30%;
  clear: right;

  &:hover {
    background: $blue-overlay-focus, url(/images/popPost4.jpg);
    background-position-y: 12%;
    background-position-x: 30%;
  }
}

// Footer Section Starts here

footer {
  width: 100%;
  height: 100px;
  background-color: #12396B;
  overflow: hidden;
  float: left;
}

.signoff {
  max-width: 960px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;

  img {
    margin-right: 13px;
    margin-top: 30px;
    float: left;
  }
}

small {
  color: #999;
  padding-bottom: 30px;
  margin-top: 45px;
  float: left;
}

.signoff ul{
    margin-top: 45px;
    font-size: 13px;
    float: right;
}

.signoff
  li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    color: #999;
    padding-right: 6px;

    &:hover {
      color: white;
    }
  }
