// Fonts sizes

$h1-headline: 4.9em;
$h2-headline: 3.25em;
$h3-headline: 2em;
$h5-headline: .70em;
$paragraph: 15px;
$anchor: 1em;
$redirect: 12px;
$redir-padding: 6px 10px 6px 10px;


// Colors */

$primary-blue: #2267AB;
$secondary-blue: #91B5C9;
$blue-overlay: linear-gradient(rgba(40, 76, 222, 0.90), rgba(40, 76, 222, 0.70));
$blue-overlay-up: linear-gradient(rgba(40, 76, 222, 0.65), rgba(40, 76, 222, 0.45));


// Base link and hover colors

a {
  color: $primary-blue;

  &:hover {
    color: lighten($primary-blue, 30%);
  }
}


// Blog post lock up

@mixin pop-post-bg {
  width: 25%;
  height: 11em;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 135%;
  line-height: 130%;
  padding-left: 2.5%;
  padding-top: 6.25em;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}
