aside {
@include span-columns(4);
text-align: center;
}

#dolphin {
  border-radius: 50%;
  width: 80px;
  margin-top: 60px;
  text-align: center;
}

.annieType {
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-blue;
  text-align: center;
  font-size: 19px;
  margin: 11px 0px 6px 0px;
}

.socialLinks a {
  font-family: 'Muli' 200;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 14px;
  color: $secondary-blue;
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

.seaside img  {
  width: 75%;
  margin-top: 40px;
}

.addLink {
  color: $secondary-blue;
  font-size: 12px;
  margin-left: 30px;
}
